.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--color-dark);
  color: var(--color-light);
  padding: 2rem;
  hr {
    width: 100%;
    opacity: 0.5;
  }
  p {
    text-align: center;
  }
  .heart {
    color: red;
  }
}
