.wrapper {
  background: url("/bg.png") no-repeat center center/cover;
  background-color: var(--color-light);
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  color: var(--color-light);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  h1 {
    font-size: clamp(1.5rem, 8vw, 5rem);
  }
  p {
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    line-height: 1.5;
  }
  .buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
}

.right {
  img {
    border-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .right {
    img {
      width: 100%;
    }
  }
}
